@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 182, 193; /* light pink */
  --background-end-rgb: 255, 240, 245; /* lavender blush */
  --primary-color: #ff69b4; /* hot pink */
  --primary-color-dark: #ff1493; /* deep pink */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 75, 0, 130; /* indigo */
    --background-end-rgb: 138, 43, 226; /* blue violet */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
